In [1]:
import numpy as np
import pandas as pd 
import matplotlib as mpl
import seaborn as sns

In [10]:
data = "C:/Users/PC/ASSIGNMENT2/datasets_19_420_Iris.csv"
file = pd.read_csv(data)
file

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
X = file.iloc[:,:5]
X

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [16]:
Y = pd.DataFrame(file.iloc[:,5])
Y

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [17]:
from sklearn.model_selection import train_test_split 
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.30, random_state = 0)

In [19]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion= 'entropy', random_state= 0)
classifier.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [21]:
Y_pred = pd.DataFrame(classifier.predict(X_test))
Y_pred

                  0
0    Iris-virginica
1   Iris-versicolor
2       Iris-setosa
3    Iris-virginica
4       Iris-setosa
5   Iris-versicolor
6       Iris-setosa
7   Iris-versicolor
8   Iris-versicolor
9   Iris-versicolor
10   Iris-virginica
11  Iris-versicolor
12  Iris-versicolor
13  Iris-versicolor
14  Iris-versicolor
15      Iris-setosa
16  Iris-versicolor
17  Iris-versicolor
18      Iris-setosa
19      Iris-setosa
20   Iris-virginica
21  Iris-versicolor
22      Iris-setosa
23      Iris-setosa
24   Iris-virginica
25      Iris-setosa
26      Iris-setosa
27  Iris-versicolor
28  Iris-versicolor
29      Iris-setosa
30   Iris-virginica
31  Iris-versicolor
32      Iris-setosa
33   Iris-virginica
34   Iris-virginica
35  Iris-versicolor
36      Iris-setosa
37  Iris-versicolor
38  Iris-versicolor
39  Iris-versicolor
40   Iris-virginica
41      Iris-setosa
42   Iris-virginica
43      Iris-setosa
44      Iris-setosa

In [29]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)
pd.DataFrame(cm)

    0   1   2
0  16   0   0
1   0  18   0
2   0   1  10